/client/target

/notifications/target

/contracts/target
/contracts/Cargo.lock

/database/target
/database/Cargo.lock

/server/target

/target
/Cargo.lock

**/*.rs.bk
**/*.env*

.vscode

nginx/
certbot/
