src/client/target

src/notifications/target

src/contracts/target
src/contracts/Cargo.lock

src/database/target
src/database/Cargo.lock

src/server/target

src/target
src/Cargo.lock

**/*.rs.bk
**/*.env*

.vscode

nginx/
certbot/
postgres/
influxdb/
